<!DOCTYPE html>
@using GameStation.Models;
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/smoothscroll.js"></script>
<script src="~/Scripts/nivo-lightbox.min.js"></script>
<script src="~/Scripts/jquery.easing-1.3.js"></script>
<script src="~/Scripts/plugins.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/jquery.parallax.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="~/Scripts/custom.js"></script>
<html lang="en">
<head>
    @model GameStation.Models.Game
        @{ 
            var games = new List<Game>();
            using (GamesEntities db = new GamesEntities())
            {
                games = db.Games.ToList();
            }

            ViewBag.Name = new SelectList(games, "Name", "Name");
            var users = new List<User>();
            using (GamestationDBEntities1 db = new GamestationDBEntities1())
            {
                users = db.Users.ToList();
            }

            ViewBag.UName = new SelectList(users, "uname", "uname");
        }
    <meta charset="utf-8">

    <!-- Template site title
    ================================================== -->
    <title>Gamestation</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--

    Template 2078 Adventure

    http://www.tooplate.com/view/2078-adventure

    -->
    <!-- Bootstrap CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- Animate CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/css/animate.min.css">

    <!-- Font Icons
    ================================================== -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/et-line-font.css">

    <!-- Nivo Lightbox CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/css/nivo-lightbox.css">
    <link rel="stylesheet" href="~/Content/css/nivo_themes/default/default.css">

    <!-- Owl Carousel CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">

    <!-- BxSlider CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/css/bxslider.css">

    <!-- Main CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Google web font
    ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>

</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">


    <!-- Preloader section
    ================================================== -->
    <section class="preloader">

        <div class="sk-rotating-plane"></div>

    </section>


    <!-- Navigation section
    ================================================== -->
    <section class="navbar navbar-fixed-top custom-navbar" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#home" class="smoothScroll navbar-brand">GAMESTATION</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!-- <li><a href="#home" class="smoothScroll">HOME</a></li> -->

                    <li><a href="#work" class="smoothScroll">BAN-USER</a></li>
                    <li><a href="#contact" class="smoothScroll">ADD-GAME</a></li>
                    <li><a href="#plan" class="smoothScroll">REMOVE-GAME</a></li>
                    <li><a href="/Home/logout" class="smoothScroll">LOGOUT</a></li>

                </ul>
            </div>

        </div>
    </section>


    <!-- Homepage section
    ================================================== -->
    <div id="home">
        <div class="site-slider">
            <ul class="bxslider">
                <li>
                    <img src="~/Content/images/slider/slide1.jpg" alt="slider image 1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-caption">
                                    <h2>Welcome to GAMESTATION (ADMIN)</h2>
                                    <p class="color-white">Here are the most popular and upcoming games.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/slider/slide2.jpg" alt="slider image 2">
                    <div class="container caption-wrapper">

                    </div>
                </li>
                <li>
                    <img src="~/Content/images/slider/slide3.jpg" alt="slider image 3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/slider/slide4.jpg" alt="slider image 4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/slider/slide5.jpg" alt="slider image 5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                            </div>
                        </div>
                    </div>
                </li>
            </ul> <!-- /.bxslider -->
            <div class="bx-thumbnail-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="bx-pager">
                                <a data-slide-index="0" href=""><img src="~/Content/images/slider/thumb1.jpg" alt="thumbnail 1" /></a>
                                <a data-slide-index="1" href=""><img src="~/Content/images/slider/thumb2.jpg" alt="thumbnail 2" /></a>
                                <a data-slide-index="2" href=""><img src="~/Content/images/slider/thumb3.jpg" alt="thumbnail 3" /></a>
                                <a data-slide-index="3" href=""><img src="~/Content/images/slider/thumb4.jpg" alt="thumbnail 4" /></a>
                                <a data-slide-index="4" href=""><img src="~/Content/images/slider/thumb5.jpg" alt="thumbnail 5" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.site-slider -->
    </div>


    <!-- Work section
    ================================================== -->
    <section id="work" class="parallax-section">
        <div class="container">
            <div class="row">

                <!-- Section title
                ================================================== -->
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                    <div class="section-title">
                        <h5 class="wow bounceIn">GAMESTATION</h5>
                        <h1 class="heading">DELETE USER</h1>
                        <hr>

                    </div>
                </div>
                <div class="dropdown" style="width:300px;margin-left:450px">
                    @Html.DropDownList("Select User", (IEnumerable<SelectListItem>)ViewBag.UName, "Select User", new { @class = "btn btn-primary dropdown-toggle", @id = "dropUName", @style = "width:300px" })
                </div>
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                    <input id="deleteUser"type="submit" class="form-control" value="DELETE">
                </div>


                <!-- Work Owl Carousel section
                ================================================== -->


            </div>
        </div>
    </section>


    <!-- About section
    ================================================== -->
    <!-- team section
    ================================================== -->
    <!-- Portfolio section
    ================================================== -->
    <section id="contact" class="parallax-section">
        <div class="container">
            <div class="row">

                <!-- Section title
                ================================================== -->
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                    <div class="section-title">
                        <h5 class="wow bounceIn">Add a new Game here</h5>
                        <h1 class="heading">ADD GAME</h1>
                        <hr>
                    </div>
                </div>

                <!-- Contact form section
                ================================================== -->
                @using (Html.BeginForm("addGame", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", Id = "signup" }))
                {
                    <div class="col-md-4 col-sm-6" style="width:250px;margin-left:355px">
                        @Html.TextBoxFor(m => Model.Name, new { @placeholder = "Name", @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => Model.Name)
                    </div>
                            <div class="col-md-4 col-sm-6" style="width:250px">
                                @Html.TextBoxFor(m => Model.Description, new { @placeholder = "Description", @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => Model.Description)
                            </div>

                            <div class="dropdown" style="width:300px;margin-left:25px">
                                @Html.DropDownListFor(m => Model.Processor, new SelectList(
new List<SelectListItem>
{
        new SelectListItem { Selected = false, Text = "Amd Athlon x2 6000+", Value = "1"},
        new SelectListItem { Selected = false, Text = "Intel Core i3 2400 3.2 ghz", Value = "2"},
        new SelectListItem { Selected = false, Text = "Intel Core i5 2400 3.4 ghz", Value = "3"},

}, "Value", "Text"), "Select Processor", new { @class = "btn btn-primary dropdown-toggle" })
                                @Html.ValidationMessageFor(m => Model.Processor)
                            </div>
                            <div class="dropdown" style="width:300px;margin-left:25px;margin-top:20px">
                                @Html.DropDownListFor(m => Model.RAM, new SelectList(
new List<SelectListItem>
{
        new SelectListItem { Selected = false, Text = "2gb", Value = "1"},
        new SelectListItem { Selected = false, Text = "4gb", Value = "2"},
        new SelectListItem { Selected = false, Text = "6gb", Value = "3"},

}, "Value", "Text"), "Select RAM", new { @class = "btn btn-primary dropdown-toggle" })
                                @Html.ValidationMessageFor(m => Model.RAM)
                            </div>
                            <div class="dropdown" style="width:300px;margin-left:25px;margin-top:20px">
                                @Html.DropDownListFor(m => Model.GPU, new SelectList(
new List<SelectListItem>
{
        new SelectListItem { Selected = false, Text = "AMD HD6670", Value = "1"},
        new SelectListItem { Selected = false, Text = "AMD HD7770", Value = "2"},
        new SelectListItem { Selected = false, Text = "Nvidia gtx680", Value = "3"},

}, "Value", "Text"), "Select GPU", new { @class = "btn btn-primary dropdown-toggle" })
                                @Html.ValidationMessageFor(m => Model.GPU)
                            </div>

                            <div class="col-md-offset-1 col-md-10 col-sm-12">

                                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                                    <input type="submit" class="form-control" value="ADD">
                                </div>

                            </div>
                }
                <!-- Contact detail section
                ================================================== -->

                <div class="contact-detail col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
                        <p>osamamukhtar80@yahoo.com</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
                        <p>0334-9853058</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Plan section
    ================================================== -->
    <section id="plan" class="parallax-section">
        <div class="container">
            <div class="row">

                <!-- Section title
                ================================================== -->


                <div class="dropdown" style="width:300px;margin-left:450px">
                    @Html.DropDownList("Select Game", (IEnumerable<SelectListItem>)ViewBag.Name, "Select Game", new { @class = "btn btn-primary dropdown-toggle", @id = "dropName", @style = "width:300px" })
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s" style="margin-left:400px">
                    <div class="plan">
                        <h2 class="plan-title">REMOVE GAME</h2>

                        <div class="plan-button" style="margin-left:40px">
                            <button  id="deleteBtn"class="btn btn-default">DELETE</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <script>

                                $(document).ready(function () {
                                    
                                    $('#deleteBtn').click( function (e) {
                           
                                        var game =$('#dropName').val() ;
                                        $.getJSON("/Admin/DeleteGame",
                                            {
                                                "game":game
                                            },
                                           function (data) {
                                               if (data)
                                                   alert("Game Deleted");
                                               else
                                                   alert("Error Occured");
                                               

                                           });
                                       

                                    });



                                    $('#deleteUser').click(function (e) {

                                        var user = $('#dropUName').val();
                                        $.getJSON("/Admin/DeleteUser",
                                            {
                                                "user": user
                                            },
                                           function (data) {
                                               if (data)
                                                   alert("User Deleted");
                                               else
                                                   alert("Error Occured");


                                           });

                                    });








                                    });




                                
    </script>

    <!-- Contact section
    ================================================== -->
    <!-- Footer section
    ================================================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <h2 class="wow bounceIn">OSAMA STUDIOS</h2>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                        <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                        <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
                        <li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="1s"></a></li>
                        <li><a href="#" class="fa fa-github wow fadeIn" data-wow-delay="1.3s"></a></li>
                        <li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="1.6s"></a></li>
                    </ul>
                    <p>
                        Copyright &copy; 2016 Osama Studios

                        | Design: <a rel="nofollow" href="http://www.osamastudios.com" target="_parent">Osama Mukhtar</a>
                    </p>

                </div>
            </div>
        </div>
    </footer>


    <!-- Javascript
    ================================================== -->
    

</body>
</html>



